<form [formGroup]="formularioLogin" (ngSubmit)="loginAgent()" class="col-md-6">
  <h2>Ingresa tus datos</h2>
  <div class="form-group">
    <label for="">Nombre agente:</label>
    <input type="text" class="form-control" name="name" 
           [(ngModel)]="agente.name"
           formControlName="name">
  </div>
  <div class="form-group">
    <label for="exampleInputPassword1">Cédula Agente</label>
    <input type="password" class="form-control" name="cedula" 
           [(ngModel)]="agente.cedula"
           formControlName="cedula">
  </div>
  <button type="submit" class="btn btn-primary">Acceder</button>
</form>